<p id="notice"><%= notice %></p>

<%= image_tag('Blossoms_Shoot_March_2016.jpg', :class => 'image') %>
<br>
<br>
<h1>Services</h1>
<div class='row'>
  <div class='column'>
     <%= image_tag('N4.jpg', :class => 'image') %>
     <h3>Bride</h3>
     <p>
       The Bridal Packages include a complimentary consultation, a trial, on location styling services for your big day,
       false lashes and extension placement when applicable. We want to make this day all about you so we customize your
       look to how you want to look and feel for your day! We have different packages that offer just hair, just makeup,
       or both combined. We want you to feel flawless and confident on your wedding day so that you can enjoy yours and
       your future spouse's special day!
     </p>
  </div>
  <div class='column'>
     <%= image_tag('Winter_Wed.jpg', :class => 'image') %>
     <h3>Bridal Party</h3>
     <p>
       When you look as good as you do, you want to make sure that the leading ladies in your life look (almost) as good as
       you do! We have A La Cart options for your Bridesmaids, Mom, Mother-In-Law, Flower Girls, Grandmothers, and any other
       ladies you need styled! There different packages that offer just hair, just makeup, or both combined for your ladies.
       We will make sure that your leading ladies look just as flawless as you do while you say I do!
     </p>
  </div>
  <div class='column'>
     <%= image_tag('Screenshot_20170530-215203.png', :class => 'image') %>
     <h3>Special Occasion</h3>
     <p>
       Weddings aren't the only time to look amazing! We offer on location and studio Hair and Makeup for prom, baby showers,
       Galas, or any other event you may have! We have done the Inauguration, Miss DC USA, Baby Showers, Proms, and Photoshoots
       so the sky is the limit!! Love Letters also offers hair and makeup lessons to help you feel your absolute best on your 
       day to day!
     </p>
  </div>
</div>
