<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Wedding</th>
      <th>Date</th>
      <th>Getting</th>
      <th>Ready</th>
      <th>Location</th>
      <th>Service</th>
      <th>Type</th>
      <th>Number</th>
      <th>Of</th>
      <th>Services</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.Name %></td>
        <td><%= contact.Wedding %></td>
        <td><%= contact.Date %></td>
        <td><%= contact.Getting %></td>
        <td><%= contact.Ready %></td>
        <td><%= contact.Location %></td>
        <td><%= contact.Service %></td>
        <td><%= contact.Type %></td>
        <td><%= contact.Number %></td>
        <td><%= contact.of %></td>
        <td><%= contact.Services %></td>
        <td><%= contact.Comments %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
