<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.Name %>
</p>

<p>
  <strong>Wedding:</strong>
  <%= @contact.Wedding %>
</p>

<p>
  <strong>Date:</strong>
  <%= @contact.Date %>
</p>

<p>
  <strong>Getting:</strong>
  <%= @contact.Getting %>
</p>

<p>
  <strong>Ready:</strong>
  <%= @contact.Ready %>
</p>

<p>
  <strong>Location:</strong>
  <%= @contact.Location %>
</p>

<p>
  <strong>Service:</strong>
  <%= @contact.Service %>
</p>

<p>
  <strong>Type:</strong>
  <%= @contact.Type %>
</p>

<p>
  <strong>Number:</strong>
  <%= @contact.Number %>
</p>

<p>
  <strong>Of:</strong>
  <%= @contact.of %>
</p>

<p>
  <strong>Services:</strong>
  <%= @contact.Services %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @contact.Comments %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
