<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consult.Name %>
</p>

<p>
  <strong>Wedding date:</strong>
  <%= @consult.Wedding_Date %>
</p>

<p>
  <strong>Getting ready location:</strong>
  <%= @consult.Getting_Ready_Location %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @consult.Service_Type %>
</p>

<p>
  <strong>Number of services:</strong>
  <%= @consult.Number_of_Services %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @consult.Comments %>
</p>

